.header{
	font-weight: bold;
	text-transform: uppercase;
}

.item{
	margin-top: 20px;
}

.choose_file{
	display: block;
	height: 10px;
	width: 10px;
	background: red;
	border:1px solid red;
}

.wrp{
	max-width: 1240px;
	margin: 0 auto;
}
.addBtn {
	margin-top: 20px; 
}
.cover {
	overflow: hidden;
}